services:
  api:
    image: manifoldlabs/sybil:${VERSION:-latest}
    labels:
      - traefik.enable=true
      - traefik.http.routers.api.rule=Host(`localhost`)
      - traefik.http.routers.api.tls=false
      - traefik.http.routers.api.tls.certresolver=
      - traefik.http.services.api.loadbalancer.server.port=80
    env_file: .env
    build:
      context: .
    restart: always

  cache:
    image: redis/redis-stack-server:latest
    healthcheck:
      test: ["CMD", "redis-cli", "--raw", "incr", "ping"]
      interval: "3s"
    volumes:
      - cache:/data

  traefik:
    image: traefik:v2.3
    ports:
      - 80:80
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - $PWD/traefik/traefik.dev.toml:/etc/traefik/traefik.toml

volumes:
  traefik-public-certificates:
  cache:
    driver: local

